# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Builds
dist/
build/

# Prisma
*.db

# Logs
logs/
*.log
backend/src/logs/*

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
